<%- include('../partials/head.ejs') %>

    <body class="login-body">
        <%- include('../partials/header') %>

            <main class="login-main-mobile login-main-desktop">
                <section class="login-register-container">
                    <div class="login-container-div-1">
                        <form class="form-login" action="/users/ingreso" method="POST">

                            <div class="img-avatar-div">
                                <img src="../img/login/avatar-login.png" alt="bear-login" class="login-bear-avatar-login avatar-enabled">
                                <img src="../img/login/avatar-user.png" alt="bear-login" class="login-bear-avatar-user avatar-disabled">
                                <img src="../img/login/avatar-pass.png" alt="bear-login" class="login-bear-avatar-pass avatar-disabled">
                            </div>

                            <h2>Iniciá Sesión:</h2>

                            <div class="login-field">
                                <i class="fas fa-user"></i>
                                <input class="controls login-email" type="text" name="email" placeholder="Email" value="<%= locals.oldData ? oldData.user : null %>">
                                <span class="error-js"></span>
                                    <% if (locals.errors && errors.email) { %>
                                        <div class="error-text">
                                            <%= errors.email.msg %>
                                        </div>
                                    <% } %>
                                <span></span>
                            </div>

                            <div class="login-field">
                                <i class="fas fa-lock"></i>
                                <input class="controls login-password" type="password" name="password" placeholder="Contraseña" value="" >
                                <span class="error-js"></span>
                                <% if (locals.errors && errors.password) { %>
									<div class="error-text">
										<%= errors.password.msg %>
									</div>
								<% } %>
                                <span></span>
                            </div>

                            <div class="login-remember">
                                <label>
                                    <input class="login-remember-checkbox" type="checkbox" name="remember_user"> Recordar mi usuario
                                </label>
                            </div>

                            <div class="form-button">
                                <button type="submit" class="send-button">Ingresar</button>
                            </div>

                            <div class="form-bottom">
                                <p class="link"> ¿Olvidaste tu contraseña? <br> Hace click <a href="#">aquí </a></p>
                                <p class="link">¿Todavía no tenes cuenta? <a href="/users/registro">Registrarme </a></p>
                            </div>

                            <div class="login-social-media-p">
                                <p>Logueate con redes sociales</p>
                            </div>

                            <div class="login-social-media">
                                <ul>
                                    <li>
                                      <a href="#">
                                        <i class="fab fa-facebook-f icon"></i>    </a>
                                    </li>
                                    <li>
                                      <a href="#"><i class="fab fa-twitter icon"></i></a>
                                    </li>
                                    <li>
                                      <a href="#"><i class="fab fa-google icon"></i></a></li>
                                  </ul>
                            </div>
                        </form>
                    </div>
                </section>
            </main>

            <%- include('../partials/footer') %>
    </body>

    </html>