<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header') %>
    
    <main>

        <h1 class="shop-header">Todos los productos de <%= product.category %></h1>
        
        <section class="index-products shop-products">
            <% productsByCategory.forEach(product => { %>
                <%- include('../partials/products', { product }) %>
            <% }); %>
        </section>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>