<div>
    <h3>
        <%= category.name %>
    </h3>

    <% if (category.name == "Jinete") { %>
        <a class="index-link-categories" href="/category/jinete">Ver Tienda<i class="fas fa-angle-right"></i></a>
    <% } %>
    <% if (category.name == "Cuidados del caballo") { %>
        <a class="index-link-categories" href="/category/cuidados-caballo">Ver Tienda<i class="fas fa-angle-right"></i></a>
    <% } %>
    <% if (category.name == "Equipo y Accesorios") { %>
        <a class="index-link-categories" href="/category/equipo-accesorios">Ver Tienda<i class="fas fa-angle-right"></i></a>
    <% } %>

</div>
<div>
    <img src=<%= category.imageHover %> >
    <img class="index-categories-img" src=<%= category.image %> >
    <div class="index-categories-img-overlay">
        <p class="index-overlay-name"><%= category.name %></p>
        <p class="index-overlay-description"><%= category.description %></p>
        <% if (category.name == "Jinete") { %>
            <a class="index-categories-button" href="/category/jinete">Ver Tienda</a>
        <% } %>
        <% if (category.name == "Cuidados del caballo") { %>
            <a class="index-categories-button" href="/category/cuidados-caballo">Ver Tienda</a>
        <% } %>
        <% if (category.name == "Equipo y Accesorios") { %>
            <a class="index-categories-button" href="/category/equipo-accesorios">Ver Tienda</a>
        <% } %>
    </div>
</div>
<div>
    <i class="fas fa-chevron-circle-left"><i class="fas fa-chevron-circle-right"></i></i>
</div>