<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    
        <main>

            <div class="banner">
                <img src="./img/banner.jpg" alt="Banner" class="categories-banner">
            </div>

            <section class="category-maintext">
                <h1 class="categories">MA NA DA</h1>
                <p>
                    Aquí estás y eres de los nuestros, no quieres las típicas vestimentas de polo, ni esos logotipos
                    que
                    usan en los clubes. Quieres lo mejor, pero tampoco quieres que te cobren 10 veces su valor
                    Buscas
                    artículos con personalidad propia, impactantes y que te definan.
                </p>
                <p>
                    Pero no solo ofrecemos los mejores artículos para el jinete, sino que también podrás encontrar
                    una
                    alta
                    gama de accesorios para que tu caballo sea el mejor del establo.
                    Y no solo eso, sino que podrás encontrar toda la información de veterinaria equina que necesitas
                    para
                    elegir los mejores productos y servicios.
                </p>
            </section>

            <section class="category-section">
                <% categories.forEach(category => { %>
                    <article class="category">
                        <a href="/shop">
                            <img src= <%= category.image %> alt= <%= category.description %>>
                            <img src= <%= category.imageHover %> alt= <%= category.description %> class="category-imghover">
                        </a>
                        <article class="category-description">
                            <p class="description"> <%= category.description %> </p>
                        </article>
                    </article>
                <% }); %>
            </section>

            <h1 class="deals-header">Oportunidades</h1>

            <section class="deals">
                <% salesProducts.forEach(product => { %>
                    <article class="dealproduct">
                        <img src= <%= product.image  %> >
                        <i class="far fa-star"></i>
                        <i class="fas fa-shopping-cart"></i>
                        <ul type="none">
                            <li class="description"><%= product.description  %></li>
                            <li class="previous-price"><%= product.previousPrice  %></li>
                            <li class="actual-price"><%= product.actualPrice  %></li>
                            <li class="discount"><%= product.discount  %></li>
                            <li class="shipping-logo"><i class="fas fa-shipping-fast"></i></li>
                        </ul>
                    </article>
                <% }); %>
            </section>
        </main>

        <%- include('./partials/footer') %>
</body>
</html>