<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main>

                <section class="index-banner">
                    <img src="./img/index-banner.jpg" alt="Banner" class="index-banner-img">

                    <div class="index-block">
                        <h1 class="index-header">
                            Todo lo que necesitan tu caballo y vos
                        </h1>
                        <p class="index-maintext">
                            Artículos para el Jinete, el Caballo, y más..
                        </p>
                        <a class="index-button" href="/shop">Ver Tienda</a>
                    </div>
                </section>

                <section class="index-main">
                    <h1>MA NA DA</h1>
                    <p>¡Bienvenido!</p>
                    </p>¡Estamos emocionados de que visites nuestra tienda! Somos una tienda de
                    ropa ecuestre y ropa occidental de propiedad y operación familiar, donde la calidad y el
                    servicio al cliente son nuestra principal prioridad. Estamos orgullosos de nuestra selección de
                    tácticas occidentales e inglesas, y nos esforzamos por ofrecer una amplia variedad para cada
                    jinete y caballo.</p>
                </section>

                <section class="index-benefits">
                    <ul type="none">
                        <div class="free-shipping">
                            <i class="fas fa-shipping-fast"></i>
                            <li>
                                <h4>Envío Gratis</h4>
                            </li>
                            <li>Con tu compra de $15.000 o más en cualquiera de nuestros productos</li>
                        </div>

                        <div class="contact-us">
                            <i class="fas fa-headset"></i>
                            <li>
                                <h4>Atención al Cliente</h4>
                            </li>
                            <li>Podes contactarnos 24x7 por todos nuestros canales oficiales</li>
                        </div>

                        <div class="befenefits">
                            <i class="far fa-smile-wink"></i>
                            <li>
                                <h4>Programa de Puntos</h4>
                            </li>
                            <li>Acumulá puntos por cada compra que realices en nuestra web</li>
                        </div>
                    </ul>
                </section>

                <% categories.forEach(function(category){ %>
                    <section class="index-flex-categories-products">

                        <% if (category.id % 2 == 0) { %>
                            <section class="index-categories">
                                <%- include('partials/categories', { category }) %>
                            </section>
                        <% } else { %>
                            <section class="index-categories-2">
                                <%- include('partials/categories', { category }) %>
                            </section>
                        <% } %>

                        <section class="index-products">
                            <% products.forEach(function(product){ %>
                                <% if (product.category == category.name) { %>
                                    <%- include('partials/products', { product }) %>
                                <% } %>
                            <% }); %>
                        </section>
                    </section>
                <% }); %>

                <section class="index-background-img-mobile index-background-img-desktop">
                    <h3>Cabalgamos. Mostramos. Sabemos.</h3>
                </section>

                <section class="index-testimonies">
                    <h3>Testimonios</h3>
                    <div class="index-testimonies-conteiner">
                        <div>
                            <h4>Nombre 1</h4>
                            <p>Texto 1</p>
                        </div>
                        <div>
                            <h4>Nombre 2</h4>
                            <p>Texto 2</p>
                        </div>
                        <div>
                            <h4>Nombre 3</h4>
                            <p>Texto 3</p>
                        </div>
                    </div>
                </section>
            </main>

            <%- include('./partials/footer') %>
    </body>
</html>