<article>
    <div class="product-container">
        <i class="far fa-heart"></i>
        <a href="/products/detail/<%= product.id %>">
            <img class="product-img" src="<%= product.image %>">
        </a>
        <ul type="none">
            <li class="product-type">
                <%= product.category %>
            </li>
            <li class="product-name">
                <%= product.name %>
            </li>
            <li class="product-price">
                <%= product.price %>
            </li>
        </ul>
    </div>
    <div class="product-cart">
        <a class="product-button" href="/products/carrito">Añadir al Carrito</a>
        <a class="product-quickview" href="#"> <i class="far fa-eye"></i> Vista rápida</a>
    </div>
</article>