<%- include('../partials/head') %>

    <body>
        <%- include('../partials/adminSideBar') %>

        <section class="admin-home-section">

            <%- include('../partials/adminHeader') %>

                <div class="admin-home-content">
                    <section class="admin-products-container">
                        <form class="admin-products-form" action="/admin/create-user" method="POST"
                            enctype="multipart/form-data">
                            
                            <h2 class="admin-products-title">Agregar Nuevos Usuarios:</h2>
            
                            <div class="admin-products-field">
                                <label for="image" class="admin-products-label">Imágen del Usuario:</label>
                                <input id="image" class="admin-products-img" type="file" name="image">
                                <% if (locals.errors && errors.image) { %>
                                    <div class="error-text">
                                        <%= errors.image.msg %>
                                    </div>
                                <% } %>
                            </div>
            
                            <div class="admin-products-field">
                                <input class="admin-products" type="text" name="user"
                                    placeholder="Usuario" value="<%= locals.oldData ? oldData.user : null %>">
                                    <% if (locals.errors && errors.user) { %>
                                        <div class="error-text">
                                            <%= errors.user.msg %>
                                        </div>
                                    <% } %>
                            </div>
                            
                            <div class="admin-products-field">
                                <input class="admin-products" type="text" name="name"
                                    placeholder="Nombre" value="<%= locals.oldData ? oldData.name : null %>">
                                    <% if (locals.errors && errors.name) { %>
                                        <div class="error-text">
                                            <%= errors.name.msg %>
                                        </div>
                                    <% } %>
                            </div>
            
                            <div class="admin-products-field">
                                <input class="admin-products" type="text" name="surname"
                                    placeholder="Apellido" value="<%= locals.oldData ? oldData.surname : null %>">
                                    <% if (locals.errors && errors.surname) { %>
                                        <div class="error-text">
                                            <%= errors.surname.msg %>
                                        </div>
                                    <% } %>
                            </div>
            
                            <div class="admin-products-field">
                                <input class="admin-products" type="email" name="email"
                                    placeholder="Correo Electrónico"  value="<%= locals.oldData ? oldData.email : null %>">
                                    <% if (locals.errors && errors.email) { %>
                                        <div class="error-text">
                                            <%= errors.email.msg %>
                                        </div>
                                    <% } %>>
                            </div>
            
                            <div class="admin-products-field">
                                <input class="admin-products" type="password" name="password"
                                    placeholder="Contraseña">
                            </div>
            
                            <div class="admin-products-field">
                                <label class="admin-products-label" for="category">Perfil</label>
                                <div class="admin-products-control">
                                    <select name="category" id="category">
                                        <option value="Cliente" <%= locals.oldData && oldData.category == "Cliente" ? 'selected' : '' %>>Cliente</option>
                                        <option value="Suscriptor" <%= locals.oldData && oldData.category == "Suscriptor" ? 'selected' : '' %>>Suscriptor</option>
                                        <option value="Editor" <%= locals.oldData && oldData.category == "Editor" ? 'selected' : '' %>>Editor</option>
                                        <option value="Administrador" <%= locals.oldData && oldData.category == "Administrador" ? 'selected' : '' %>>Administrador</option>
                                    </select>
                                </div>
                            </div>
            
                            <div class="admin-products-form-button">
                                <button type="submit" class="admin-products-button">Crear</button>
                            </div>
                        </form>
                    </section>
                </div>
        </section>
    </body>

    </html>