<%- include('../partials/head') %>

    <body>
        <%- include('../partials/adminSideBar') %>

        <section class="admin-home-section">

            <%- include('../partials/adminHeader') %>

            <div class="admin-products-main-mobile admin-products-main-desktop">
                <section class="admin-products-container">
                    <form class="admin-products-form" action="/admin/create-product" method="POST"
                        enctype="multipart/form-data">
                        <h2 class="admin-products-title">Agregar Nuevos Productos:</h2>

                        <div class="admin-products-field">
                            <label for="image" class="admin-products-label">Imágen del Producto:</label>
                            <input id="image" class="admin-products-img" type="file" name="image">
                            <% if (locals.errors && errors.image) { %>
                                <div class="error-text">
                                    <%= errors.image.msg %>
                                </div>
                            <% } %>
                        </div>

                        <div class="admin-products-field">
                            <input class="admin-products" type="text" name="name"
                                placeholder="Nombre del producto">
                                <% if (locals.errors && errors.name) { %>
                                    <div class="error-text">
                                        <%= errors.name.msg %>
                                    </div>
                                <% } %>
                        </div>

                        <div class="admin-products-field">
                            <input class="admin-products" type="text" name="description"
                                placeholder="Descripción del producto">
                                <% if (locals.errors && errors.description) { %>
                                    <div class="error-text">
                                        <%= errors.description.msg %>
                                    </div>
                                <% } %>
                        </div>

                        <div class="admin-products-field">
                            <label class="admin-products-label" for="category">Categoría</label>
                            <div class="admin-products-control">
                                <select name="category" id="category">
                                    <option value="">Seleccione una opción</option>
                                    <option value="Jinete">Jinete</option>
                                    <option value="Cuidado del Caballo">Cuidado del Caballo</option>
                                    <option value="Veterinaria">Veterinaria</option>
                                    <option value="Equipo y accesorios">Equipo y accesorios</option>
                                </select>
                            </div>
                        </div>

                        <div class="admin-products-field">
                            <label class="admin-products-label" for="size">Talle</label>
                            <div class="admin-products-control">
                                <select name="size" id="size">
                                    <option value="">Seleccione una opción</option>
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                </select>
                            </div>
                        </div>

                        <div class="admin-products-field">
                            <input class="admin-products" type="text" name="price" id="newProductPrice"
                                placeholder="Precio del Producto">
                                <% if (locals.errors && errors.price) { %>
                                    <div class="error-text">
                                        <%= errors.price.msg %>
                                    </div>
                                <% } %>
                        </div>

                        <div class="admin-products-field">
                            <label class="admin-products-label" for="in-sale">En oferta</label>
                            <div class="admin-products-field-inSale">
                                <input class="field-inSale" id="in-sale" type="radio" name="inSale" value="true"> Si</input>
                                <br>
                                <input class="field-inSale" id="in-sale" type="radio" name="inSale" value="false"> No</input>
                            </div>
                        </div>

                        <div class="admin-products-field">
                            <input class="admin-products" type="text" name="discountPrice" id="discountPrice"
                                placeholder="Precio en descuento">
                        </div>

                        <div class="admin-products-field">
                            <input class="admin-products" type="text" name="discount" id="discount"
                                placeholder="Porcentaje de descuento">
                        </div>

                        <div class="admin-products-form-button">
                            <button type="submit" class="admin-products-button">Crear</button>
                        </div>
                    </form>
                </section>
            </div>
        </section>
    </body>
</html>