<%- include('../partials/head') %>

    <body>
        <%- include('../partials/adminSideBar') %>

        <section class="admin-home-section">

            <%- include('../partials/adminHeader') %>

            <div class="admin-products-main-mobile admin-products-main-desktop">                
                <section class="admin-editProduct-container">
                    <div class="admin-editProduct-image">
                        <img src=<%= product.image %> alt="product image">
                    </div>

                    <div class="admin-products-container">
                        <form class="admin-products-form" action="/admin/edit-product/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

                            <h2 class="admin-products-title">Editar Producto:</h2>

                            <div class="admin-products-field">
                                <label class="admin-products-label">Cambiar Imágen:</label>
                                <input class="admin-products-img" type="file" name="image">
                                <span></span>
                            </div>

                            <div class="admin-products-field">
                                <label class="admin-products-label" for="name">Nombre</label>
                                <input class="admin-products" type="text" id="name" name="name" value="<%= product.name %>">
                                <span></span>
                            </div>

                            <div class="admin-products-field">
                                <label class="admin-products-label" for="description">Description</label>
                                <input class="admin-products" type="text" id="description" name="description" value="<%= product.description %>">
                                <span></span>
                            </div>

                            <div class="admin-products-field">
                                <label class="admin-products-label" for="category">Categoría</label>
                                <div class="admin-products-control">
                                    <select name="category" id="category">
                                        <option value="Jinete" <%= product.category == 'Jinete' ? 'selected' : '' %>>Jinete</option>
                                        <option value="Cuidados del caballo" <%= product.category == 'Cuidados del caballo' ? 'selected' : '' %>>Cuidados del caballo</option>
                                        <option value="Veterinaria" <%= product.category == 'Veterinaria' ? 'selected' : '' %>>Veterinaria</option>
                                        <option value="Equipo y Accesorios" <%= product.category == 'Equipo y Accesorios' ? 'selected' : '' %>>Equipo y accesorios</option>
                                    </select>
                                </div>
                            </div>

                            <div class="admin-products-field">
                                <label class="admin-products-label" for="size">Talle</label>
                                <div class="admin-products-control">
                                    <select name="size" id="size">
                                        <option value="XS" <%= product.size == 'XS' ? 'selected' : '' %>>XS</option>
                                        <option value="S" <%= product.size == 'S' ? 'selected' : '' %>>S</option>
                                        <option value="M" <%= product.size == 'M' ? 'selected' : '' %>>M</option>
                                        <option value="L" <%= product.size == 'L' ? 'selected' : '' %>>L</option>
                                        <option value="XL" <%= product.size == 'XL' ? 'selected' : '' %>>XL</option>
                                    </select>
                                </div>
                            </div>

                            <div class="admin-products-field">
                                <label class="admin-products-label" for="price">Precio</label>
                                <input class="admin-products" type="text" name="price" id="price" value="<%= product.price %>">
                                <span></span>
                            </div>

                            <div class="admin-products-field">
                                <label class="admin-products-label" for="in-sale">En oferta</label>
                                <div class="admin-products-field-inSale">
                                    <% if ( product.inSale == true ){%>
                                        <input class="field-inSale" id="in-sale" type="radio" name="inSale" value="true" checked>Si</input>
                                        <br>
                                        <input class="field-inSale" id="in-sale" type="radio" name="inSale" value=false>No</input>
                                    <% } else { %>
                                        <input class="field-inSale" id="in-sale" type="radio" name="inSale" value="true">Si</input>
                                        <br>
                                        <input class="field-inSale" id="in-sale" type="radio" name="inSale" value=false checked>No</input>
                                    <% } %>
                                </div>
                            </div>
                            <div class="admin-editProducts-buttons-div">
                                <div class="admin-products-form-button">
                                    <button type="submit" class="admin-products-button">Modificar</button>
                                </div>
                                <form action="/admin/delete/<%= product.id %>?_method=DELETE" name="deleteform" method="POST">
                                    <div class="admin-products-form-button">
                                        <button type="submit" class="admin-products-button">Eliminar</button>
                                    </div>
                                </form>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </section>
    </body>
</html>