<%- include('../partials/head.ejs') %>

    <body>
        <%- include('../partials/adminSideBar') %>

        <section class="admin-home-section">

            <%- include('../partials/adminHeader') %>

                <div class="admin-home-content">

                    <section class="admin-filter-container">
                        <h4 class="admin-edit-filter-header">Añadir nuevo producto
                            <i><a href="/admin/create-product" class='bx bxs-plus-circle'></a></i>
                        </h4>

                        <form action="/admin/edit-product" method="GET">
                            <section class="admin-search-filter">
                                <div class="admin-filter-category">

                                    <input name="name" type="text" placeholder=" Nombre">
                                    <input name="surname" type="text" placeholder=" Apellido">

                                    <label class="admin-filter-label" for="category"></label>
                                    <select name="category" id="category">
                                        <option selected>Categoria</option>
                                        <% categories.forEach(function(category){ %>
                                            <option value="<%- category.name %>">
                                                <%- category.name %>
                                            </option>
                                        <% }); %>
                                    </select>

                                    <div class="admin-filter-form-button">
                                        <button type="submit" class="admin-filter-button">Filtrar</button>
                                    </div>
                                </div>
                            </section>
                        </form>

                        <section class="admin-table-container">
                            <table class="admin-table-rows-mobile">
                                <thead>
                                    <tr class="admin-table-header">
                                        <th scope="col">Id</th>
                                        <th scope="col">Img</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(function(product){ %>
                                        <%- include('../partials/adminTable', {product: product}) %>
                                    <% }); %>
                                </tbody>
                            </table>

                            <table class="admin-table-rows-desktop">
                                <thead>
                                    <tr class="admin-table-header">
                                        <th scope="col">Id</th>
                                        <th scope="col">Img</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Categoría</th>
                                        <th scope="col">Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% products.forEach(function(product){ %>
                                        <%- include('../partials/adminTableDesktop', {product: product}) %>
                                    <% }); %>
                                </tbody>
                            </table>
                        </section>
                    </section>
                </div>
        </section>
    </body>

    </html>